/* header */
.page-header {
    margin: 0;
    padding-bottom: 0;
  }
/*carousel */
.fade-carousel {
  position: relative;
  height: 100vh;
}

.fade-carousel .carousel-inner {
  /*max-height: 433px;*/
}

.fade-carousel .carousel-inner .item {
  height: 100vh;
}

.carousel-indicators {
  position: absolute;
  top: 60%;
  left: 0;
  z-index: 15;
  width: 60%;
  margin-left: 11%;
  padding-left: 0;
  list-style: none;
  text-align: left;
  letter-spacing: 0px;
  margin 0 2px;
}

.fade-carousel .carousel-indicators > li {
  margin: 0 2px;
  border-color: #fff;
  opacity: .7;
  border: solid 2px white;
  background:transparent;
  box-shadow: 1px 1px 0 0 rgba(58, 58, 58, 0.2);
}

.fade-carousel .carousel-indicators > li:hover,
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
  background: #fff;
}


/* Hero Header */
.hero {
  position: absolute;
  top: 26%;
  left: 41%;
  z-index: 3;
  color: #fff;
  text-align: left;
/* text-shadow: 1px 1px 0 rgba(0,0,0,.75);*/
    -webkit-transform: translate3d(-50%,-50%,0);
       -moz-transform: translate3d(-50%,-50%,0);
        -ms-transform: translate3d(-50%,-50%,0);
         -o-transform: translate3d(-50%,-50%,0);
            transform: translate3d(-50%,-50%,0);
}

.hero h4 {
  font-size: 22px;
  line-height: 1.35;
  margin-bottom: :0;
  padding: 0;
  font-weight:bold;
}

.hero h2{
  font-size: 34px;
  color: #ea4a31;
  margin: 0;
  line-height: 1.2;
}

/* Overlay */
/*
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}
*/

/* Custom Buttons */
.btn.btn-lg {padding: 10px 40px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
  color: #f5f5f5;
  background: linear-gradient(to right, #00c2c7 0%, #0bafbe 100%);
  outline: none;
  margin: 20px auto;
  font-size: 13px;
}

.btn:after {
  content: "";
  display: none;
  margin-left: 0px;
  transition: none;
}

/* Slides backgrounds */
.fade-carousel .slides .slide-1, 
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
  /*height: 100vh;*/
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/*
.fade-carousel .slides {
  height: 348px
}
*/

.fade-carousel .slides .slide-1 {
  background-image: url("../imagenes/slider-1-slide-1-1920X700.jpg");
}

.fade-carousel .slides .slide-2 {
  background-image: url("../imagenes/slider-1-slide-2-1920X700.jpg");
}

.fade-carousel .slides .slide-3 {
  background-image: url("../imagenes/slider-1-slide-3-1920X700.jpg");
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  opacity: 1;
}

.hero .animated {
  animation-timing-function: ease-out;
}

html:not(.lt-ie10) .not-animated {
  opacity: 0;
}

.fadeInRightSmall {
  animation-name: fadeInRightSmall;
}

@keyframes fadeInRightSmall {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeInLeftSmall {
  animation-name: fadeInLeftSmall;
}

@keyframes fadeInLeftSmall {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeInRightSmall-v2 {
  animation-name: fadeInRightSmall-v2;
}

@keyframes fadeInRightSmall-v2 {
  0% {
    opacity: 0;
    transform: translateX(90px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.hero h2 {
  font-size: 34px;
  font-family: "Roboto Bold";
}

.hero h4, .hero a {
  font-family: "Roboto Light";
}
  
/* Media Queries */
@media screen and (min-width: 980px){
  
}

@media (max-width:767px) {
  .hero{
     left: 36%;
     top:22%; 
   }
   
  .carousel-indicators {
    top:82%; 
  }
  .fade-carousel {
    margin-top:55px;
    padding: 0;
  }

  .fade-carousel {
    margin-top:55px;
    padding: 0;
  }

  body.home .content-holder {
    padding: 0;
   }
}

@media (min-width: 768px) {
  .hero {
    top: 29%;
    left: 40%;
  }
  .carousel-indicators {
   top:82%; 
  }
  .hero h2 {
    font-size: 46px;
  }

 .hero h4 {
    font-size: 28px;
  }
  .fade-carousel {
    margin-top:28px;
  }
}

@media (min-width: 992px) {
  .hero {
     left:26%;
     top:60%; 
   }
   
  .hero h2 {
    font-size: 60px;
  }

 .hero h4 {
    font-size: 36px;
    line-height: 1.25;
  }
  .fade-carousel {
    margin-top:190px;
  }
}

@media (min-width: 1009px) {
/*
  .rd-navbar-wrap {
    margin-bottom: 191px;
  }
*/
  .hero {
     left:45%;
     top:38%; 
   }
   
  .fade-carousel {
    margin-top:190px;
  }
}

@media (min-width: 1200px) {
  .hero {
     left:25%; 
   }
   
  .hero h2 {
    font-size: 72px;
  }

 .hero h4 {
    font-size: 25px;
  }

  .rd-navbar-wrap {
    margin-bottom: 124px;
  }
  .fade-carousel {
    margin-top:0;
  }
}

/* Slides height */
.fade-carousel .slides div[class^="slide-"] {
  height: 348px
}

@media (min-width: 446px) {
  .fade-carousel .slides div[class^="slide-"] {
    height: 319px
  }
}

@media (min-width: 768px) {
  .fade-carousel .slides div[class^="slide-"] {
    height: 432px
  }
}

@media (min-width: 992px) {
  .fade-carousel .slides div[class^="slide-"] {
    height: 474px
  }
}

@media (min-width: 1200px) {
  .fade-carousel .slides div[class^="slide-"] {
    height: 478px
  }
}